<div id="topbar">
    <div class="row">
	<nav id="top-nav">
	    <ul>
		<li id="logo">&nbsp;</li>
		<li class="top-nav-single">Home</li>
		<li class="top-nav-single">About</li>
		<li class="top-nav-single">Contact</li>
		<li class="top-nav-single">Dropdown</li>		
	    </ul>
	</nav>
    </div>
</div>

<div class="big-row small-height-auto" id="two-options">
    <div class="row pos-rel">
	<div class="large-4 small-12 columns push-4 m-limit" id="big-logo"></div>
	
	<div class="large-4 small-6 columns text-right pull-4 m-limit small-abs-btm">
	    <h2>Advanced Soccer Camp</h2>
	    <h3>Tryouts for Summer 2013 on Now</h3>
	    <div class="register button">Register</div>
	</div>
		
	<div class="large-4 small-6 columns  m-limit text-left">
	    <h2>Professional Private Training</h2>
	    <h3>Now accepting applications</h3>
	    <div class="register button">Register</div>
	</div>
    </div>
    
</div>

<div class="big-row no-padding" id="video">
<iframe src="http://player.vimeo.com/video/21483764" width="100%" height="481" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>

<div class="big-row" id="trainer">    
    <div class="row">
	<div class="large-4 columns">
	    <img class="bordered" src="assets/trainer-portrait.jpg"/>
	</div>
	<div class="large-8 columns">
	    <h2>Our Trainers</h2>
	    <h3>Young Messi FCB works with the best trainers in the midwest, including up and rising soccer stars. Learn More</h3>
	    <div class="register button">Register</div>
	</div>
    </div>
</div>


<div class="big-row large-height-auto" id="about">    
    <div class="row">
	<div class="large-4 columns">
	    <h2>Park Ridge</h2>
	    <div class="map bordered high b-limit">
		<div class="high bg-cover" style="background-image: url(http://placehold.it/650x250);"></div>
	    </div>
	    <h3>Young Messi FCB works with the best trainers in the midwest, including up and rising soccer stars. Learn More</h3>
	</div>
	<div class="large-8 columns">
	    <h2>About us</h2>
	    <div class="bordered high  b-limit">
		<div class="high bg-cover" style="background-image: url(http://placehold.it/650x250);"></div>
	    </div>	    
	    <h3>Young Messi FCB works with the best trainers in the midwest, including up and rising soccer stars. Learn More</h3>
	    <div class="register button">Register</div>
	</div>
    </div>
</div>

<div class="big-row" id="footer">    
    <div class="row">
	<div class="large-12 columns">
	    <div id="footer-logo">
		<img src="assets/ui/footer-logo-kk.png"/>
	    </div>
	</div>

    </div>
</div>