/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 * 
 *= require_tree 
 *= require_reset 
 *= require_foundation
 *= require_self
*/

body {
    font-family: Georgia;
}

h2, .h2 {
    font-size: 40pt;
    font-family: Arial;
    margin-bottom: 0.25em;
    line-height: 1em;
}
h3, .h3 {
    font-size: 18pt;
    line-height: 1.5em;
}


#topbar {
    background: url(ui/topbar-bg.png) repeat-x;
    height:40px;
    line-height: 40px;
    color: #fff;
    font-family: Arial;
    min-width: 480px;
}
nav#top-nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav#top-nav ul li#logo {
    background: url(ui/top-logo.png) no-repeat center;
    width: 160px;
}
ul.nav-dropdown {
    position: absolute;
    border: 2px solid #121212;
    box-shadow: 0 0 30px #000;
    z-index: 100;
    padding: 0px;
    min-width: 150px;
    display: none;
}
ul.nav-dropdown li {
    display: block !important;
    margin-left: 0 !important;
    background: #1f1f1f;
    padding-left: 20px;
    border-bottom: 1px solid #121212;
}
.ul.nav-dropdown li:hover {
    background: #121212;
}
.dropdown-parent:hover .nav-dropdown {
    display: inherit !important;
}

.big-row {
    
    min-width: 480px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 40px 0 40px 0;
    position: relative;
}

#two-options {
    background-image: url(ui/choose-bg.jpg);    
    color: #fff;
}

#big-logo {
    height: 306px;
    background: url(ui/big-logo.png) no-repeat center;
    background-size: contain;
}

#trainer {
    background-image: url(ui/trainer-bg.jpg);
    color: #fff;
}

.bordered {
    border: 5px solid #eaeaea;
}

.button {
    background: url(ui/button-bg.jpg) repeat-x center;
    height: 46px;
    line-height: 46px;
    border-radius: 4px;
    padding: 0 30px 0 30px;
    display: inline-block;
    color: #000;
    font-family: Arial;
    margin-top: 20px;
    font-weight: 700;
    cursor: pointer;
}


.pos-rel {
    position:relative;
}

.high {
    height: 250px;
}

#about {
    background-image: url(ui/about-bg.jpg);
}

.large-height-auto {
    height: auto !important;
}

.no-padding {
    padding: 0 !important;
}
.bg-cover {
    background-size: cover;
    background-position: center;
}
.text-red {
    color: #bb2031;
}

.s-limit {
    margin-bottom: 10px;
}
.m-limit {
    margin-bottom: 20px;
}
.b-limit {
    margin-bottom: 40px;
}


@media only screen and (max-width: 48em) { 

    .small-height-auto {
	height: auto !important;
    }
    
h2, .h2 {
    font-size: 26pt;
    font-family: Arial;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}
h3, .h3 {
    font-size: 11pt;
}    

.small-abs-btm {
    position:absolute;
    bottom:0;
}

}
